@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.app{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../img/fon.jpg);
    background-size: cover;
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0;
}
.greating{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: greating 6s 1;

}
.app_display{
    width: 400px;
    height: 670px;
    border-radius: 35px;
    background-color: #212429a7;
    backdrop-filter: blur(15px);
    overflow: hidden;
}
.display_header{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:rgb(246, 163, 255) ;
}
.display_main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 87%;
    border-radius: 15px 15px 0px 0px;
    border-top:3px solid purple;
    box-shadow: 0px -25px 100px purple;
}
.display_header_other{
    display: flex;
    gap: 100px;
    justify-content: space-around;
}
.display_header_name{
    align-self: center;
}
.display_nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 11px;

}
.display_nav div{
    width: 117px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #44374d;
    color:rgb(246, 163, 255) ;
}
.display_wallet img{
    width: 60px;
    height: 60px;
}
.display_wallet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color:rgb(246, 163, 255) ;
}
#Wallet_coin{
    font-size: 40px;
    font-weight: bold;
}
.display_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(246, 163, 255) ;
    font-size: 11px;
    border-radius: 15px;
}
.Level_bar{
    width: 368px;
    height: 9px;
    border-radius: 30px;
    border: 1px solid gray;
}
.Level_progress{
    height: 100%;
    width: 0%;
    background:linear-gradient(120deg,red,rgb(147, 41, 147),green) ;
    border-radius: 15px;
    transition: all .2s ease;
}
.display_tap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid purple;
    background: radial-gradient(rgb(203, 4, 203),rgb(181, 2, 181),rgb(167, 2, 167),purple);
    overflow: hidden;
    margin: 0 auto;
}
.display_tap img{
    width: 190px;
    height: 190px;
}
.display_energy{
    font-size: 11px;
    color: white;
    margin: 0 auto;
}
.display_energy img{
    width: 10px;
}
.display_footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    margin: 0;
    color:rgb(246, 163, 255) ;
    background-color: #44374d;
    border-radius: 15px;
    padding-top: 10px;
}
.display_footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #302736;
    border-radius: 15px;
    width: 28%;
    transition: all 2s ease;
}
.display_footer div:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.display_tap:hover{
    cursor: pointer;
}
/*Модификаторы*/
.tap_mod{
    transform: skew(0.3deg);
}
.money{
    width: 50px;
    animation: moneyTap 1s 1;
    position: absolute;
}
.display_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

/*Mine page*/
.mine_content{
    height: 40%;
    display: none;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mine_cards{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.mine_nav{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 70%;
    border-radius: 15px;
    background-color: #32363C;
    height: 36px;
    align-items: center;
    justify-content: space-around;
    color: rgb(242, 221, 255);
}
.card_top{
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  #545658;

}
.card_top img{
    width: 15px;
}
.card_bottom{
    width: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: white;
}
.card_bottom img{
    width: 15px;
    display: flex;
}
.mine_card{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 110px;
    border-radius: 15px;
    background-color: #32363e;
    color: white;
}

























@keyframes moneyTap{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-60px);
    opacity: 0;}
}
@keyframes greating{

    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@media screen and (max-width: 376px){
    .app_display{
        height: 100vh;
        width: 100vw !important;
        border-radius: 0px;
     }
}
@media screen  and (max-width: 415px){
    .app_display{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
     }
}
@media screen  and (max-width: 390px){
    .app_display{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
     }
}
@media screen  and (max-width: 430px){
    .app_display{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
     }
}

@media screen  and (max-width: 360px){
    .app_display{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
     }
}
@media screen  and (max-width: 768px){
    .app_display{
        height: 100vh;
        width: 100vw;
     }
}
@media screen  and (max-width: 820px){
    .app_display{
        height: 100vh;
        width: 100vw;
     }
}
@media screen  and (max-width: 1024px){
    .app_display{
        height: 100vh;
        width: 100vw;
     }
     .display_tap{
        height: 490px;
        width: 490px;
     }
     .display_tap img{
        height: 500px;
        width: 490px;
     }
}
@media screen  and (max-width: 345px){
    .app_display{
        height: 100vh;
        width: 100vw;
     }
     .display_tap{
        height: 200px;
        width: 200px;
     }
     .display_tap img{
        height: 190px;
        width: 190px;
     }
}
@media screen  and (max-width: 1024px){
    .app_display{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
     }
     .display_tap{
        height: 250px;
        width: 250px;
     }
     .display_tap img{
        height: 240px;
        width: 240px;
     }
}